@page "/"

<section id="team" class="pb-5">
    <div class="container">
        <h5 style="text-align:justify" class="section-title h1">Categories</h5>
        <div class="row">
            @if (@CategoryService.Categories == null || @CategoryService.Categories.Count() == 0)
            {
                <p>loading....</p>
            }

            else
            {
                @foreach (var catogry in @CategoryService.Categories)
                {
                    <a href="/products/{catogry.Id}">@catogry.Name</a>
                }
            }

        </div>
    </div>
</section>
