@page "/savesubcategory"

<link rel="stylesheet"
	  href="https://fonts.googleapis.com/css?family=Roboto:400,700" />

<link rel="stylesheet" href="admincss/fontawesome.minold.css" />

<link rel="stylesheet" href="admincss/bootstrap.minold.css" />

<link rel="stylesheet" href="admincss/templatemo-style.css">

<div class="container tm-mt-big tm-mb-big">
	<div class="row">
		<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
			<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
				<div class="row">
					<div style="margin-left:300px" class="col-12">
						<h2 class="tm-block-title d-inline-block">Add Product</h2>
					</div>
				</div>
				<div class="row tm-edit-product-row">
					<EditForm method="post" Model="SubCategory" FormName="create" class="tm-edit-product-form" OnValidSubmit="SaveSubCategoryAsync">
						<div class="col-xl-6 col-lg-6 col-md-12">
							<div class="form-group mb-3">
								<label style="margin-left:190px" for="name">Category Name </label>
								<InputText @bind-Value="SubCategory.Name" style="margin-left:190px" type="text" class="form-control" />
							</div>
						</div>

						<div class="col-xl-6 col-lg-6 col-md-12">
							<div class="form-group mb-3">
								<label style="margin-left:190px" for="text">ImageUrl </label>
								<InputFile OnChange="@LoadFiles" @bind-Value="SubCategory.ImageUrl" style="margin-left:190px;padding-top:12px" type="text" class="form-control" />
							</div>
						</div>
						<div class="form-group mb-3">
							<label style="margin-left:206px" for="category">Category</label>
							<InputSelect @bind-Value="SubCategory.ParentCategoryId" class="custom-select tm-select-accounts" style="width:345px;margin-left:206px">
								<option selected>Select category</option>
								@if (Categories.Result is not null)
								{
									@foreach (var maincategory in Categories.Result)
									{
										<option value=@maincategory.Id>@maincategory.Name</option>
									}

								}
							</InputSelect>
						</div>
						<div style="margin-left:191px;width:375px" class="col-12">
							<button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
						</div>
					</EditForm>
				</div>
			</div>
		</div>
	</div>
</div>
